
.navegacao{
    
    text-align: left;
}
.add {
    float: left; 
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
   
    color: #353535;
}

.produto{
    flex-direction: column;



}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}