
.navegacao{
    
    text-align: left;
}
.add {
    float: left; 
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
   
    color: #353535;
}

.produto{
    flex-direction: column;



}



